body {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    color: white;
    z-index: 0;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

.container {
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn {
    flex-basis: 25%;
    background: #1089ff;
    border: none;
    color: #fff;
    margin: 10px;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.07);
}




.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/images/pexels-markus-spiske-97987.jpg)
}

.container {
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}



.info-sign {
    font-size: 1.5rem;
    color: #fff;
}

.form-control {
    height: 52px;
    color: #fff !important;
    font-size: 16px;
    border-radius: 40px;
    background: transparent;
    border: 1px solid rgb(255 255 231);
    padding-left: 40px;
    padding-right: 20px;
    outline: none;
}
.show {
    color: black;
    text-align: left;
    font-size: 20px;
}